// __ VARIABLES __
// -- colors --
$color-background: #231123;

$color-primary-dark: #A62754; // darken 15%
$color-primary: #D44678;
$color-primary-light: #E284A5; // lighten 15%

$color-accent: #D44678;

$color-text: #FAECF1;

// -- sizes --
$size-gutter: 1rem;

$size-container-small: 25rem;
$size-container-max: 45rem;

// -- borders --
$border-width: 0.1rem;
$border-standard: $border-width solid $color-text;

// -- borders --
$transition-color: color 250ms ease-in-out;
$transition-fade: opacity 150ms linear 75ms;
$transition-expand: max-height 300ms ease-in-out;
$transition-slide: transform 300ms ease-in-out;

// __ FUNCTIONS AND MIXINS
@function minus-padding($value, $padding) {
  @return calc(#{$value} - #{$padding * 2});
}

@mixin breakpoint-sm-up {
  @media all and (min-width: $size-container-small) {
    @content;
  }
}

@mixin breakpoint-lg-up {
  @media all and (min-width: $size-container-max) {
    @content;
  }
}

@mixin contain {
  margin: 0 auto;
  max-width: $size-container-max;
  width: minus-padding(100%, $size-gutter);
}

// __ STYLES __
body {
  background: $color-background;
  color: $color-text;
  font-family: 'Dosis', 'Open Sans', sans-serif;
  font-weight: 400;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.demo {
  @include contain;

  min-height: minus-padding(100%, $size-gutter);
  padding: $size-gutter;

  &__header {
    margin-bottom: 10vw;

    @include breakpoint-lg-up {
      margin-bottom: 5rem;
    }
  }

  &__title {
    color: $color-primary;
    font-family: 'Allerta Stencil', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15vw;
    font-weight: normal;
    line-height: 1;
    margin: 1rem 0 4vw;
    text-align: center;

    @include breakpoint-lg-up {
      font-size: 7.4rem;
      margin-bottom: 2rem;
    }
  }

  &__subtitle {
    color: $color-primary-light;
    font-size: 5vw;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.25vw;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint-lg-up {
      font-size: 2.25rem;
      letter-spacing: 0.25rem;
    }

    &::after {
      border-bottom: 0.15rem solid $color-text;
      content: '';
      height: 1vw;
      left: 7.5vw;
      position: absolute;
      bottom: -6vw;
      width: minus-padding(100%, 7.5vw);

      @include breakpoint-lg-up {
        bottom: -2.75rem;
        border-bottom: $border-standard;
        height: 0.1rem;
        left: 2.5rem;
        width: minus-padding(100%, 2.5rem);
      }
    }
  }

  &__github {
    background: url('./mark-github.svg');
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center top;
    display: inline-block;
    height: 5vw;
    margin-left: 0.75vw;
    position: relative;
    top: 0.5vw;
    width: 5vw;

    @include breakpoint-lg-up {
      height: 2rem;
      margin-left: 0.25rem;
      top: 0.1rem;
      width: 2rem;
    }
  }
}

.example {
  @include contain;

  padding: 2vw 5.5vw;
  width: minus-padding(100%, 5.5vw);

  @include breakpoint-lg-up {
    padding: $size-gutter #{$size-gutter * 2};
  }

  &__heading {
    font-weight: 300;
    letter-spacing: 0.1rem;
  }

  &__content {
    font-weight: 300;
    letter-spacing: 0.05rem;
    line-height: 1.5;
    padding: 1rem 0;

    li {
      margin-bottom: 0.25rem;
    }
  }
}

.toggle {
  &__button {
    border: $border-standard;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    transition: $transition-color;
    will-change: border-color, color;

    @include breakpoint-sm-up {
      font-size: 1rem;
    }

    &.toggle--open {
      color: $color-primary-light;
    }

    &:hover {
      color: $color-primary;
      border-color: $color-primary-light;
    }

    &:active, &:focus {
      outline: none;
      box-shadow: 0 0 0.5rem 0.5rem -webkit-focus-ring-color;
    }
  }

  &__content {
    display: none;
    overflow: hidden;

    &.toggle {
      &--open,
      &--opening,
      &--closing {
        display: block;
      }
    }

    &--appear {
      transition: $transition-expand, $transition-fade;
      will-change: max-height, opacity;
      opacity: 0;
      max-height: 0;

      &.toggle {
        &--open,
        &--opening,
        &--closing {
          display: block;
        }

        &--closing {
          z-index: 9;
        }

        &--open {
          max-height: 60rem;
          opacity: 1;
          z-index: 10;

          .container {
            opacity: 1;
          }
        }
      }
    }

    &--slide {
      transition: $transition-slide;
      transform: translate3d(0, -100%, 0);
      will-change: transform;

      &.toggle {
        &--closing {
          z-index: 0;
        }

        &--open {
          transform: translate3d(0, 0, 0);
          z-index: 10;

          .container {
            opacity: 1;
          }
        }
      }
    }

    .btn {
      border: $border-standard;
      border-radius: 1rem;
      color: $color-primary-light;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      padding: 0.5rem;
      margin: 0.5rem;
      text-align: center;

      &:hover {
        color: $color-primary;
        border-color: $color-primary-light;
      }
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;

    .toggle__button {
      flex-basis: 25%;
      margin: 0;
      padding: 1rem 0.5rem;
    }
  }

  &__wrap {
    overflow: hidden;
    height: auto;
  }
}
